.navbar-logo {
    position: absolute;
    width: 250px;
    height: auto;
    top: -90px;
  }
  
  .navbar {
    background-color: #191970 !important;
  }
  
  .navbar-nav {
    position: relative;
    font-weight: bold;
    font-family: "Playfair Display", serif;
  }
  
  .navbar-nav .nav-link {
    color: #ffffff !important;
    right: 100px;
  }
  
  .navbar-nav .nav-link:hover {
    color:#FFEF00 !important;
    right: 100px;
  }
  
  .navbar-nav .btn {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color:#191970;
    border: 3px solid #FFEF00;
    background-color: #FFEF00;
    margin: 5px 5px;
    padding: 0px 10px;
    border-radius: 20px;
  }
  
  .navbar-nav .btn:hover {
    background-color:#191970;
    color: #FFEF00;
  }
  
  .navbar-nav .nav-link-a {
    text-decoration: none;
  }
  
  
  
  
  
  
  .content {
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    object-fit: cover;
    z-index: -1;
  }

  footer {
    background-color:#191970;
    color: #ffffff;
    padding: 50px 0;
  }
  
  footer .text-uppercase {
    font-weight: bold;
    color: #FFEF00;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer .list-unstyled {
    padding-left: 0;
  }
  
  footer .list-unstyled li {
    margin-bottom: 10px;
  }
  
  footer .bi {
    margin-right: 10px;
  }
  
  footer .bi-facebook,
  footer .bi-twitter,
  footer .bi-instagram,
  footer .bi-linkedin {
    font-size: 24px;
  }
  
  
  
  
  
  
  
  
.sign-up-container {
    background-color: #FFEF00;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 35px auto;
}

.sign-up-container h2 {
    margin-bottom: 20px;
}

.sign-up-container input[type="text"],
.sign-up-container input[type="email"],
.sign-up-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sign-up-container .sign-up-btn {
    width: 100%;
    padding: 10px;
    background-color: #191970;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.sign-up-container .sign-up-btn:hover {
    background-color: #ff0000;
}

.sign-up-container .or {
    margin: 15px 0;
    font-size: 16px;
    color:#191970;
}

.social-btn {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.social-btn img {
    width: 24px;
    margin-right: 10px;
}

.btn-google {
    background-color: #191970;
    color: white;
}

.btn-google:hover {
    background-color: #ff0000;
    color: white;
}

.btn-facebook {
    background-color: #191970;
    color: white;
}

.btn-facebook:hover {
    background-color: #ff0000;
    color: white;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #191970;
}

.footer .SU{
    text-decoration: none;
    color:#191970;
    font-weight: bold;
}

.footer .SU:hover{
    text-decoration: none;
    color:#ff0000;
    font-weight: bold;
}
  
  
  @media (max-width: 768px) {
    .navbar-logo {
      width: 250px;
      top: -90px;
    }

    .sign-up-container{
        width: 300px;
    }

    .sign-up-container {
        padding: 20px;
    }

    .sign-up-container input[type="email"], .sign-up-container input[type="text"], 
    .sign-up-container input[type="password"] {
        padding: 5px;
    }

    .sign-up-container .sign-in-btn {
        padding: 5px;
    }

    .form-check-label{
        font-size: 12px;
    }
    .social-btn {
        padding: 5px;
    }
    
    .header-content h1 {
      font-size: 40px;
    }
  
    footer .col-lg-4 {
      text-align: center;
    }
    footer .d-flex {
      justify-content: center;
    }
  }
  
  @media (max-width: 480px) {
    .header-content h1 {
        font-size: 10px;
    }
  }